mixin dropdownButtons(buttons)
    .dropdown
        button.btn.btn-light.btn-sm(type="button", data-bs-toggle="dropdown") #[i.bi.bi-three-dots-vertical]
        ul.dropdown-menu.dropdown-menu-end
            each button in buttons
                li
                    button.dropdown-item(href=button.href)
                        small.bi.me-2(class=button.icon)
                        span= button.text

mixin buttonGroup(buttons, option)
    .btn-group(class=option)
        each button in buttons
            button.btn.btn-light.btn-sm(href=button.href) #[small.bi(class=button.icon)]

mixin modalButtonGroup(buttons, option)
    .btn-group(class=option)
        each button in buttons
            button.btn.btn-light.btn-sm(
                data-bs-toggle="modal",
                data-bs-target=button.target
            ) #[small.bi(class=button.icon)]

mixin processCard
    .col
        .card.h-100
            .card-body 
                .hstack.align-items-start
                    h5.col.line-clamp-2.mb-0 길으면 기차 기차는 빨라 빠르면 비행기 비행기는 높아
                    - var buttons = [{ icon: "bi-play-fill", href: "#" }, { icon: "bi-stop-fill", href: "#" }];
                    +buttonGroup(buttons, "col-auto")
                .row.g-2.align-items-center.mt-2
                    .col-6
                        label.col-form-label.p-0(for="robot-1") 로봇
                    .col-6
                        select#robot-1.form-select.form-select-sm(
                            name="class-1"
                        )
                            option(selected="") 선택
                            option(value="1") One
                            option(value="2") Two
                    .col-6
                        label.col-form-label.p-0(for="robot-1") 스크립트 버전
                    .col-6
                        select#robot-1.form-select.form-select-sm(
                            name="class-1"
                        )
                            option(selected="") 선택
                            option(value="1") One
                            option(value="2") Two

mixin processEditCard
    .col
        .card.h-100
            .card-body 
                .hstack.align-items-start
                    h5.col.line-clamp-2.mb-0 길으면 기차 기차는 빨라 빠르면 비행기 비행기는 높아
                    -
                        var buttons = [
                                { icon: "bi-pencil-fill", target: "#processModal", text: "수정" },
                                { icon: "bi-trash-fill", target: "#removeModal", text: "삭제" }
                            ];
                    +modalButtonGroup(buttons, "col-auto")
                .row.g-2.align-items-center.mt-2
                    .col-4
                        span.col-form-label.p-0 등록일
                    .col-8
                        span.form-text 2022-07-19 18:29:56
                    .col-4
                        span.col-form-label.p-0 로봇그룹
                    .col-8
                        span.form-text VM_BOT
                    .col-4
                        span.col-form-label.p-0 스크립트
                    .col-8
                        span.form-text 스크립트명
                    .col-4
                        span.col-form-label.p-0 데이터셋
                    .col-8
                        span.form-text 데이터셋명

mixin deployCard
    .col
        .card.h-100
            .card-body
                .hstack.align-items-start.mb-3
                    h5.col.line-clamp-2.mb-0 길으면 기차 기차는 빨라 빠르면 비행기 비행기는 높아
                    button.btn.btn-sm.btn-light(
                        data-bs-toggle="modal",
                        data-bs-target="#deployModal"
                    ) #[i.bi.bi-box.me-1]배포
                span.col-form-label 파일:
                .line-clamp-2.hstack.w-100
                    span.d-block.form-text 30_TR_02.zip
                    span.d-block.form-text 30_TR_02.zip
                    span.d-block.form-text 30_TR_02.zip
                    span.d-block.form-text 30_TR_02.zip

mixin credentialCard
    .col
        .card.h-100
            .card-body
                .hstack.align-items-start.mb-3
                    h5.col.line-clamp-2.mb-0 길으면 기차 기차는 빨라 빠르면 비행기 비행기는 높아
                    button.btn.btn.btn-light.ms-1(
                        data-bs-toggle="modal",
                        data-bs-target="#passwordModal"
                    )
                        i.bi.bi-chevron-right
                .row.g-0.align-items-center.mt-2
                    .col-4
                        span.col-form-label.p-0 작성자
                    .col-8
                        span.form-text gwlee (이건우)
                    .col-4
                        span.col-form-label.p-0 등록일
                    .col-8
                        span.form-text 2022-07-19 18:29:56
                    .col-12.mt-1
                        span.col-form-label 파일:
                        .line-clamp-2.hstack.w-100
                            span.d-block.form-text 30_TR_02.zip
                            span.d-block.form-text 30_TR_02.zip
                            span.d-block.form-text 30_TR_02.zip
                            span.d-block.form-text 30_TR_02.zip

mixin scheduleCard
    .col
        .card.h-100
            .card-body 
                .row.gx-0.gy-2.align-items-center(for="scheduleSwitch")
                    .col-auto.form-check.form-switch.me-auto
                        input#scheduleSwitch.form-check-input(
                            type="checkbox",
                            role="switch",
                            checked=""
                        )
                    -
                        var buttons = [
                                { icon: "bi-pencil-fill", target: "#scheduleModal", text: "수정" },
                                { icon: "bi-trash-fill", target: "#removeModal", text: "삭제" }
                            ];
                    +modalButtonGroup(buttons, "col-auto")
                    .hstack.align-items-start
                        h5.col.line-clamp-2.mb-0.me-2 길으면 기차 기차는 빨라 빠르면 비행기 비행기는 높아
                .row.g-1.align-items-start.mt-2
                    .col-5
                        span.col-form-label.p-0(for="robot-1") 프로세스명
                    .col-7
                        span.form-text.line-clamp-2.mt-0 길으면 기차 기차는 빨라 빠르면 비행기 비행기는 높아
                    .col-5
                        span.col-form-label.p-0(for="robot-1") 다음 실행
                    .col-7
                        span.form-text -
                    .col-5
                        span.col-form-label.p-0(for="type") 예약 유형
                    .col-7
                        span.form-text.line-clamp-2.mt-0 #[span.badge.bg-secondary 매일] 길으면 기차 기차는 빨라 빠르면 비행기 비행기는 높아
                    .col-5
                        span.col-form-label.p-0(for="type") 실행 제외
                    .col-6
                        span.form-text #[button.btn.badge.bg-dark 미적용]
