mixin sidebarBtn(id, icon, title)
    .btn.btn-light.sidebar-button.d-flex.flex-column.p-0(id=id)
        i.bi.fs-5(class=icon)
        small.d-block= title

mixin offcanvas(id, title, contents)
    .offcanvas.offcanvas-start(
        tabindex="-1",
        aria-labelledby=`${id}Label`,
        id=`${id}Offcanvas`
    )
        .offcanvas-header
            h5.offcanvas-title(id=`${id}Label`)= title
            button.btn-close(
                type="button",
                data-bs-dismiss="offcanvas",
                aria-label="Close"
            )
        .list-group.list-group-flush
            each content in contents
                a.list-group-item(href=`${content.href}.html`)= content.text
